# 데이터 분석을 위한 SQL 레시피

## 3장 데이터 가공을 위한 SQL

- 데이터를 가공해야 하는 이유<br>
1) 다를 데이터가 데이터 분석용도로 상정되지 않은 경우<br>
2) 연산할 때 비교가능한 상태로 만들고 오류를 회피하기 위한 경우<br>

### 5강 하나의 값 조작하기

#### 1 코드 값을 레이블로 변경하기

CASE expression
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
   ...
    WHEN conditionN THEN resultN
    ELSE result
END

#### 2 URL에서 요소 추출하기

- 레퍼로 어떤 웹 페이지를 거쳐 넘어왔는지 판별하기
- URL에서 경로와 요청 매개변수 값 추출하기

- 데이터에서 URL 을 parsing 시 <br>
PostgreSQL : substring  함수 + 정규식 표현<br>
Hive : parse_url 함수<br>
SparkSQL : parse_url 함수<br>
Redshift : regexp_sybstr 함수와 regexp_replace 함수<br>
BigQuery : host 함수<br>

#### 3 문자열을 배열로 분해하기

- 데이터에서 URL 을 parsing 시 <br>
PostgreSQL : split_part<br>
Redshift : split_part<br>
Hive : split 함수<br>
SparkSQL : split 함수<br>
BigQuery : split 함수<br>
mySQL : SUBSTRING_INDEX, LEFT, RIGHT 함수를 조합<br>

#### 4 날짜와 타임스탬프 다루기

- 데이터에서 시간 추출 <br>
PostgreSQL : CURRENT_DATE 상수 + SURRENT_TIMESTAMP  사용 <br>
Redshift : CURRENT_DATE, GERDATE() 사용
Hive : CURRENT_DATE  + SURRENT_TIMESTAMP  사용 <br>
SparkSQL : CURRENT_DATE  + SURRENT_TIMESTAMP  사용 <br>
BigQuery : CURRENT_DATE  + SURRENT_TIMESTAMP  사용 <br>
mySQL : CURRENT_DATE, CURRENT_TIME, CURRENT_TIMESTAMP 사용<br>

- 문자열을 날짜/타임스탬프로 변환 <br>
PostgreSQL : CAST(value as type) <br>
Redshift : CAST(value as type)<br>
Hive : CAST(value as type) <br>
SparkSQL : CAST(value as type)<br>
BigQuery : CAST(value as type)<br>
mySQL : STR_TO_DATE('2018-06-18 20:59:59','%Y-%m-%d %H:%i:%s')

- 날짜/시각에서 특정 필드 추출 <br>
PostgreSQL : EXTRACT(YEAR FROM stamp) as YYYY<br>
Redshift : EXTRACT(YEAR FROM stamp) as YYYY<br>
Hive : YEAR(stamp) as YYYY <br>
SparkSQL : YEAR(stamp) as YYYY<br>
BigQuery : EXTRACT(YEAR FROM stamp) as YYYY<br>
mySQL : YEAR(stamp) as YYYY

#### 5 결손 값을 디폴트 값으로 대치하기

select 
    `purchase_id`,
    `amount`,
    `coupon`, 
    `amount` - `coupon` as discount_amount1, 
    `amount`- COALESCE(`coupon`, 0) as discount_amount2 
from purchase_log_with_coupon ;

cf. mysql 에서는 ifnull 도 사용가능

### 6강 여러 개의 값에 대한 조작

#### 1 문자열 연결하기

CONCAT 함수 사용<br>
<br>
PostgreSQL : || 사용가능<br>
Redshift : || 사용가능<br>

#### 2 여러 개의 값 비교하기

data>
year	q1	q2	q3	q4
2015	82000	83000	78000	83000
2016	85000	85000	80000	81000
2017	92000	81000	NULL	NULL

# 분기별 매출 증감 판정하기

select 
    year, 
    q1, 
    q2, 
    case 
        when q1<q2 then '+'
        when q1=q2 then ' '
        else '-' end 
            as judge_q1_q2, 
       q2-q1 as diff_q1_q2,
    sign(q2-q1) as sign_q2_q1   
from `quarterly_sales`;

*mySQL도 공통

# 연간 최대/최소 4분기 매출 찾기
select 
    year,
    GREATEST(q1,q2,q3,q4) as greatest_sales,
    LEAST(q1,q2,q3,q4) as least_sales
from `quarterly_sales`;

*mySQL은 null 값이 포함된 경우 null 이 표시.

# 연간 평균 4분기 매출 계산하기

select 
    year,
    (q1+q2+q3+q4) / 4 as average
from quarterly_sales ;

* NULL 값 포함시 NULL 로 결과 표시. 아래와 같이 NULL값을 대치하여 계산.

select 
    year,
    (coalesce(q1,0)
    +coalesce(q2,0)
    +coalesce(q3,0)
    +coalesce(q4,0)) / 4 as average
from quarterly_sales ;

* NULL 값은 포함하지 않은 평균을 구할 경우는 SIGN을 추가 사용.
select 
    year,
    (coalesce(q1,0)
    +coalesce(q2,0)
    +coalesce(q3,0)
    +coalesce(q4,0)) / 
    (SIGN(coalesce(q1,0))
    +SIGN(coalesce(q2,0))
    +SIGN(coalesce(q3,0))
    +SIGN(coalesce(q4,0))) as average
from quarterly_sales ;

#### 3 2개의 값 비율 계산하기

- 정수 자료형의 데이터 나누기 <br>
PostgreSQL : CAST를 사용<br>
Redshift : 정수를 나눌 때 자동으로 실수로 변환<br>
Hive : 정수를 나눌 때 자동으로 실수로 변환<br>
SparkSQL : 정수를 나눌 때 자동으로 실수로 변환<br>
BigQuery : 정수를 나눌 때 자동으로 실수로 변환<br>
mySQL : 정수를 나눌 때 자동으로 실수로 변환

dt	ad_id	impressions	clicks
2017-04-01	001	100000	3000
2017-04-01	002	120000	1200
2017-04-01	003	500000	10000
2017-04-02	001	0	0
2017-04-02	002	130000	1400
2017-04-02	003	620000	15000

select 
    dt, 
    ad_id, 
    `clicks`/`impressions` as ctr, 
    100.0 * `clicks`/`impressions` as ctr_as_percent 
from `advertising_stats`;

# 0으로 나누는 것 피하기

# 사전에 분모값이 0이 아닌지 확인하여 계산, 0보다 큰값으로 처리하므로 작은 값이 나올 때의 조건도 필요하다만
select 
    dt, 
    ad_id, 
    case when impressions > 0 then 100.0 * `clicks`/`impressions` end 
    as ctr_as_percent_by_case
from `advertising_stats`;

# 분모가 0이면(nullif은 두 값이 값으면 NULL, 다르면 첫번째 인자를 리턴한다) null 값으로 만들어 계산을 피함
select 
    dt, 
    ad_id, 
    100.0 * `clicks`/nullif(`impressions`, 0) as ctr_as_percent_by_case
from `advertising_stats`;

#### 4 두 값의 거리 계산하기

# 두 지점간의 거리를 계산. 
절대값 : ABS
제곱 : POWER
제곱근 : SQRT

select 
	x1, 
	x2, 
    abs(x1 - x2) as abs,
    SQRT(power(x1 - x2, 2)) as rms 
from location_1d;

# 유클리드 거리 계산

select 
	x1, 
	x2, 
    sqrt(power(x1 -x2, 2) + power(y1 - y2, 2)) as dist
from location_2d;

*PostgresSQL 은 POINT 자료형이라 불리는 좌표를 다루는 자료 구조 사용

#### 5 날짜/시간 계산하기

- 날짜/시간을 계산하기 <br>
PostgreSQL : interval 자료형 데이터에 사칙 연산 적용<br>
Redshift : dateadd 함수 사용<br>
Hive : unixtime 으로 변환, 초단위 계산을 적용후 다시 타임스탬프로 변환<br>
SparkSQL : unixtime 으로 변환, 초단위 계산을 적용후 다시 타임스탬프로 변환<br>
BigQuery : timestamp_add/sub, date_add/sub 함수 사용<br>
mySQL : dateadd 함수 사용가능

SELECT 
    DATE_ADD(register_stamp, INTERVAL 1 hour ),
    DATE_ADD(register_stamp, INTERVAL 30 minute ) 
from mst_users_with_birthday;

- 날짜 데이터들의 차이 계산하기 <br>
PostgreSQL : 날짜 자료형끼리 빼기 가능 <br>
Redshift : 날짜 자료형끼리 빼기 가능 <br>
Hive : datediff 함수 사용<br>
SparkSQL : datediff 함수 사용<br>
BigQuery : date_diff 함수 사용<br>
mySQL : datediff 함수 사용

SELECT 
    curdate(),
    register_stamp,
    DATEDIFF(curdate(), register_stamp)
from mst_users_with_birthday

- 나이 계산하기 <br>
PostgreSQL :  age 함수와 EXTRACT 함수 사용

#### 6 IP 주소 다루기

- IP 주소를 정수 자료형으로 변환하기 <br>
PostgreSQL : split_part 로 문자열 분해<br>
Redshift : split_part 로 문자열 분해<br>
Hive : split 함수 사용<br>
SparkSQL : split 함수 사용 <br>
BigQuery : split 함수 사용<br>
mySQL : split 함수 사용<br>

- IP 주소를 0으로 메우기 <br>
PostgreSQL : lpad 함수로 0으로 대치<br>
Redshift : lpad 함수로 0으로 대치<br>
Hive : split 함수로 배열 분해 후  n번째 요소로 추출<br>
SparkSQL : split 함수로 배열 분해 후  n번째 요소로 추출<br>
BigQuery : split 함수로 배열 분해 후  n번째 요소로 추출<br>
mySQL : split 함수로 배열 분해 후  n번째 요소로 추출<br>

### 7강 하나의 테이블에 대한 조작

- 데이터 집약
- 데이터 가공

#### 1 그룹의 특징 잡기

# 테이블 전체의 특징량 계산하기
select 
    count(*) as total_caount,
    count(distinct user_id) as user_count,
    count(distinct product_id) as product_count,
    sum(score) as sum,
    avg(score) as avg,
    max(score) as max,
    min(score) as min 
from review;

# 그루핑한 데이터의 특징량 계산하기
select 
    user_id,
    count(distinct product_id) as product_count,
    sum(score) as sum,
    avg(score) as avg,
    max(score) as max,
    min(score) as min 
from review
group by user_id;

# 집약 함수를 적용한 값과 집약 전의 값을 동시에 다루기
select 
    user_id,
    product_id,
    score,
    avg(`score`) over() as avg_score,
    avg(`score`) over(partition by user_id) as user_avg_score,
    score - avg(score) over(partition by user_id) as user_avg_score_diff
from review;

* mysql 은 over() 함수를 지원하지 않음.
select 
    t1.user_id, 
    t1.product_id, 
    t1.score, 
    t2.avg_score, 
    t3.user_avg_score, 
    t1.score-t3.user_avg_score 
from 
(select 
    user_id,
    product_id,
    score,
    'jk' 
from 
review group by user_id, product_id) t1
left join 
(select 
    'jk', 
    avg(score) as avg_score
from review ) t2 on t1.jk = t2.jk 
left join 
(select 
    user_id,
    avg(score) as user_avg_score
from review 
group by user_id) t3 on t1.user_id = t3.user_id

#### 2 그룹 내부의 순서

# order by 구문으로 순서 정의하기

Select 
    product_id,
    score,
    row_number() 		over(order by score desc) as row,
    rank() 				over(order by score desc) as row,
    dense_rank() 		over(order by score desc) as row,
    lag(product_id) 	over(order by score desc) as lag1,
    lag(product_id, 2) 	over(order by score desc) as lag2,
    lead(product_id) 	over(order by score desc) as lead1,
    lead(product_id, 2) 	over(order by score desc) as lead2
from `popular_products`
order by row;

*mysql 은 over 함수가 없음.

# order by 구문과 집약함수 조합

#### 3 세로 기반 데이터를 가로 기반으로 변환하기

#### 4 가로 기반 데이터를 세로 기반 데이터로 변환하기

### 8강 여러 개의 테이블 조작하기

#### 1 여러 개의 테이블을 세로로 결합하기

#### 2 여러 개의 테이블을 가로로 정렬하기

#### 3 조건 플래그를 0과 1로 표현하기

#### 4 계산한 테이블에 이름 붙여 재사용하기

#### 5 유사 테이블 만들기