# 데이터 분석을 위한 SQL 레시피

## 3장 데이터 가공을 위한 SQL

- 데이터를 가공해야 하는 이유<br>
1) 다를 데이터가 데이터 분석용도로 상정되지 않은 경우<br>
2) 연산할 때 비교가능한 상태로 만들고 오류를 회피하기 위한 경우<br>

### 5강 하나의 값 조작하기

#### 1 코드 값을 레이블로 변경하기

CASE expression
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
   ...
    WHEN conditionN THEN resultN
    ELSE result
END

#### 2 URL에서 요소 추출하기

- 레퍼로 어떤 웹 페이지를 거쳐 넘어왔는지 판별하기
- URL에서 경로와 요청 매개변수 값 추출하기

- 데이터에서 URL 을 parsing 시
PostgreSQL : substring  함수 + 정규식 표현<br>
Hive : parse_url 함수<br>
SparkSQL : parse_url 함수<br>
Redshift : regexp_sybstr 함수와 regexp_replace 함수<br>
BigQuery : host 함수<br>

#### 3 문자열을 배열로 분해하기

- 데이터에서 URL 을 parsing 시
PostgreSQL : split_part<br>
Redshift : split_part<br>
Hive : split 함수<br>
SparkSQL : split 함수<br>
BigQuery : split 함수<br>
mySQL : SUBSTRING_INDEX, LEFT, RIGHT 함수를 조합<br>

#### 4 날짜와 타임스탬프 다루기

- 데이터에서 시간 추출
PostgreSQL : CURRENT_DATE 상수 + SURRENT_TIMESTAMP  사용 <br>
Redshift : CURRENT_DATE, GERDATE() 사용
Hive : CURRENT_DATE  + SURRENT_TIMESTAMP  사용 <br>
SparkSQL : CURRENT_DATE  + SURRENT_TIMESTAMP  사용 <br>
BigQuery : CURRENT_DATE  + SURRENT_TIMESTAMP  사용 <br>
mySQL : CURRENT_DATE, CURRENT_TIME, CURRENT_TIMESTAMP 사용<br>

- 문자열을 날짜/타임스탬프로 변환
PostgreSQL : CAST(value as type) <br>
Redshift : CAST(value as type)<br>
Hive : CAST(value as type) <br>
SparkSQL : CAST(value as type)<br>
BigQuery : CAST(value as type)<br>
mySQL : STR_TO_DATE('2018-06-18 20:59:59','%Y-%m-%d %H:%i:%s')

- 날짜/시각에서 특정 필드 추출
PostgreSQL : EXTRACT(YEAR FROM stamp) as YYYY<br>
Redshift : EXTRACT(YEAR FROM stamp) as YYYY<br>
Hive : YEAR(stamp) as YYYY <br>
SparkSQL : YEAR(stamp) as YYYY<br>
BigQuery : EXTRACT(YEAR FROM stamp) as YYYY<br>
mySQL : YEAR(stamp) as YYYY

#### 5 결손 값을 디폴트 값으로 대치하기

select 
    `purchase_id`,
    `amount`,
    `coupon`, 
    `amount` - `coupon` as discount_amount1, 
    `amount`- COALESCE(`coupon`, 0) as discount_amount2 
from purchase_log_with_coupon ;

cf. mysql 에서는 ifnull 도 사용가능

### 6강 여러 개의 값에 대한 조작

#### 1 문자열 연결하기

#### 2 여러 개의 값 비교하기

#### 3 2개의 값 비율 계산하기

#### 4 두 값의 거리 계산하기

#### 5 날짜/시간 계산하기

#### 6 IP 주소 다루기

### 7강 하나의 테이블에 대한 조작

#### 1 그룹의 특징 잡기

#### 2 그룹 내부의 순서

#### 3 세로 기반 데이터를 가로 기반으로 변환하기

#### 4 가로 기반 데이터를 세로 기반 데이터로 변환하기

### 8강 여러 개의 테이블 조작하기

#### 1 여러 개의 테이블을 세로로 결합하기

#### 2 여러 개의 테이블을 가로로 정렬하기

#### 3 조건 플래그를 0과 1로 표현하기

#### 4 계산한 테이블에 이름 붙여 재사용하기

#### 5 유사 테이블 만들기