# 데이터 분석을 위한 SQL 레시피

## 4장 매출을 파악하기 위한 데이터 추출

### 9강 시계열 기반으로 데이터 집계하기

#### 1 날짜별 매출 집계하기

In [2]:
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns

import mysql.connector

cnx = mysql.connector.connect(user='root', password='1' , host='127.0.0.1', database='lotto_log', port='3306')
cursor = cnx.cursor()

sns.set()

query_01 = (" SELECT dt, \
                            count(*) as purchase_count, \
                            sum(purchase_amount) as total_amount,\
                            avg(purchase_amount) as avg_amount\
                            FROM `purchase_log`\
                            GROUP BY dt\
                            ORDER BY dt; ")

df = pd.read_sql(query_01, con = cnx, index_col='dt')
df

            purchase_count  total_amount  avg_amount
dt
2014-01-01               2       24516.0  12258.0000
2014-01-02               2       36049.0  18024.5000
2014-01-03               3       53029.0  17676.3333
2014-01-04               3       29299.0   9766.3333
2014-01-05               3       48256.0  16085.3333
2014-01-06               3       29440.0   9813.3333
2014-01-07               3       47679.0  15893.0000
2014-01-08               3       19760.0   6586.6667
2014-01-09               2       22944.0  11472.0000
2014-01-10               2       27923.0  13961.5000

#### 2 이동 평균을 사용한 날짜별 추이 보기

# 날짜별 매출과 7일 이동평균을 집계하는 쿼리


SELECT 
dt, 
sum(purchase_amount) as total_amount,
AVG(sum(purchase_amount))
over(order by dt rows between 6 preseding and current row) as seven_day_avg,
case when 7 = count(*) over(over order by rows between 6 preseding and current row)
end as sevent_day_avg_strict 
from purchase_log
group by dt
order by dt;

*mysql 에서는 다른 방식으로 구해야 한다.

#### 3 당월 매출 누계 구하기

# 날짜별 매출과 당월 누계 매출을 집계하는 쿼리

SELECT
dt,
substring(dt, 1, 7) as year_month,
sum(purchase_amount) as total_amount,
sum(sum(purchase_amount))
over(partition by substring(dt, 1, 7) order by dt rows unbounded preceding)
as agg_amount
from `purchase_log`
group by dt
order by;

*mysql 에서는 다른 방식으로 구해야 한다.

# 날짜별 매출을 일시 테이블로 만드는 쿼리

WITH daily_purchase as(select
dt, 
substring(dt, 1, 4) as year,
substring(dt, 6, 2) as month,
substring(dt, 9, 2) as day,
sum(purchase_amount) as purchase_amount
from purchase_log
group by dt
)
select * from daily_pruchase
order by dt;

*mysql //
select
dt, 
left(dt, 4) as year,
mid(dt, 6, 2) as month,
right(dt, 2) as day,
sum(purchase_amount) as purchase_amount
from purchase_log
group by dt

# 누계를 구하는 쿼리 

WITH
daily_purchase as (
(이전 쿼리)
)
SELECT dt, 
concat(year, '-', month) as year_month
purchase_amount,
sum(purchase_amount) over (partition by year, month order by dt rows unbounded preceding) as agg_amount 
from daily_purchase
order by dt;

#### 4 월별 매출의 작대비 구하기

#월별 매출과 작대비를 계산하는 쿼리

WITH daily_purchase as (
[이전 쿼리]
)
SELECT 
month, 
sum(case year when '2014' then purchase_amount end) as amount_2014,
sum(case year when '2015' then purchase_amount end) as amount_2015,
100.0
* sum(case year when '2015' then purchase_amound end) 
/ sum(case year when '2014' then purchase_amount end) as rate
from daily_purchase
group by month,
order by month;

#### 5 Z 차트로 업적의 추이 확인하기

- Z 차트 : 월차매출, 매출 누계, 이동년계 지표가 필요
- Z 차트를 분석할 때으 정리
매출누계에서 주목할 점 : 매출이 일정하면 직선, 기울기가 급하면 증가, 완만해지면 감소.
작년과 올해의 매출이 일정하면 이동년계가 직선, 우상향은 증가, 우하향은 감소.

#### 6 매출을 파악할 때 중요 포인트

매출 상/하락에 관한 본질적 이유에 대한 질문을 던질 필요가 있음.

### 10강 다면적인 축을 사용해 데이터 집약하기

#### 1 카테고리별 매출과 소계 계산하기

# 카테고리별 매출과 소계를 동시에 구하는 쿼리 

select `category`, `sub_category`, sum(price) from purchase_detail_log 
where 1 
group by `category`, `sub_category` with rollup;

* mysql 에서는 with rollup 을 사용할 수 있다.

#### 2 ABC 분석으로 잘 팔리는 상품 판별하기

1) 매출이 높은 순서로 데이터를 정렬
2) 매출 합계를 집계
3) 매출 합계를 기반으로 각 데이터가 차지하는 비율을 계싼하고, 구성비를 구함
4) 계산한 카테고리의 구성비를 기반으로 구성비누계를 구함
(카테고리의 매출과 해당 시점까지으 누계를 따로 계산하고, 총 매출로 나누면 구성비누계를 구할 수 있음)

#### 3 팬 차트로 상품의 매출 증가율 확인하기

팬 차트 : 어떤 기준 시점을 100%로 두고 이후의 숫자 변동을 확인할 수 있게 해주는 그래프

#### 4 히스토그램으로 구매 가격대 집계하기

히스토그램 만드는 법
1) 최대값, 최소값 범위(최대값 - 최소값)을 구함
2) 범위를 기반으로 몇 개으 ㅣ계급으로 나눌지 결정하고, 각 계급의 하한과 하한을 구함
3) 각 계급에 들어가는 데이터 개수(도수)를 구하고, 이를 표로 정리한다.